.scheduleWrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.monthWrapper {
  // margin-top: 20px;
  height: calc(100vh / 12);
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  line-height: calc(100vh / 12);
  background-color: #e9c46a;
  justify-items: center;
  .backIcon,
  .forwardIcon {
    height: calc(100vh / 12);
    font-size: 30px;
    line-height: calc(100vh / 12);
    cursor: pointer;
    color: white;
    &:hover {
      color: #264653;
    }
  }
  .backIcon {
    margin-left: 10px;
  }
  .forwardIcon {
    margin-right: 10px;
  }
  .monthText {
    color: white;
    font-weight: 600;
    cursor: pointer;
    letter-spacing: 3px;
    word-spacing: 6px;
  }
}
.table {
  width: 100%;
  text-align: center;

  th {
    height: calc(100vh / 12);
    background-color: #264653;
    color: white;
  }
}
